@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    background-color:#ffffff;
    color:#ffe283;
}

.container {
    min-height: 100%;
    width: 100vw;
}

.navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 300px;
    z-index: 3;
    gap: 1rem;
}


.button-wrap {
    display: flex;
    width: 175px;
    padding: .25rem;
    background: linear-gradient(
        -225deg,
        white 0%,
        #ecdfbf, 29%,
        #bdad89 67%,
        #f1ebe5 100%
        );
    border-radius: 5px;
    filter: drop-shadow(2px 2px 3px #000000);
}

button {
    font-size: 1.5rem;
    width: 175px;
    padding: 0.5rem;
    color: inherit;
    border-radius: 5px;
    background-color: #021f1d;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    align-items: center;
}

.button-text {
    background: linear-gradient(
        -225deg,
        white 0%,
        #ecdfbf, 29%,
        #dbc99f 67%,
        #f1ebe5 100%
        );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.landing-wrapper {
    background: linear-gradient(black, transparent, black), url("images/floral.jpg") no-repeat center;
    background-position: center;
    background-size: cover;
    z-index: 2;
    height: 100vh;
}

.landing-text-wrapper {
    position: absolute;
    top: 35%;
    right: 25%;
    line-height: 1.2;
    color: inherit;
    text-align: right;
    font-size: 3rem;
    color: #f1ebe5;
    background-image: linear-gradient(
    -225deg,
    white 0%,
    #ecdfbf, 29%,
    #bdad89 67%,
    #f1ebe5 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    z-index: 4;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

#landing h2 {
    font-size: 3rem;
}


.fa-brands {
    font-size: 25px;
    color: white;
    cursor: pointer;
}

.light-wrapper {
    position: relative;
    height: 100vh;
    width: 100%;
    color: #021f1d;
}

.light-wrapper h2 {
    color: #0A3F37;
}

.dark-wrapper {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: #0A3F37;
}

.content-wrapper {
    position: relative;
    margin-right: 300px;
    padding: 5vh 5vw 5vh 5vw;
    left: 300px;
    width: calc(90vw - 300px);
}

.about-sections {
    display: flex;
    gap: 5vw;
}

.stock-filler {
    width: 300px;
    height: auto;
}

ul {
    list-style: none;
    font-style: italic;
    text-align: center;
    width: 40%;
    margin: auto;
}

li {
    text-align: right;
}

.section-title {
    font-size: 3rem;
    text-align: center;
    padding-bottom: 20px;
}

.section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75vh;
}

.sub-section {
    display: flex;
    flex-direction: column;
    gap: 5vw;
}

h3 {
    font-size: 1.5rem;
}

.portfolio-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
}

.item-name {
    color: white;
}

.portfolio-links {
    display: flex;
    justify-content: space-between;
}

#contact-description {
    width: 80%;
    color: #021f1d;
    padding-bottom: 10vh;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.form-box {
    margin-bottom: 5vh;
    flex-grow: 1;
}

.contact-form input {
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: thick double #021f1d;
  }

.contact-form textarea {
    width: 100%;
    height: 100px;
    border: none;
    border-bottom: thick double #021f1d;
}

label {
    margin-right: 20px;
    font-style: italic;
    opacity: 50%;
  }

.form-row {
    display: flex;
    width: 100%;
    gap: 20px;
}

.form-top-item {
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 20px;
}

.form-bottom-item {
    width: 100%;
}

.submit-button {
    color: #ffe283;
    margin: auto;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    height: 25px;
    width: 100%;
    text-align: center;
    color: #ffe283;
    background-color: #021f1d;
    border-top: 2px solid #ffe283;
}

@media only screen and ((max-width: 600px) or (orientation: portrait)) {
    .navbar {
        position: sticky;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        height: 3.5rem;
        padding: 0 2vw 0 2vw;
        background-color: #021f1d;
    }

    .button-wrap {
        width: 5rem;
    }

    .nav-button {
        display: flex;
        justify-content: center;
        width: 5rem;
        font-size: 1rem;
        padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    }

    .content-wrapper {
        width: 100%;
        left: 0px;
    }

    .landing-text-wrapper {
        width: 90%;
        right: 10%;
    }

    #landing h1 {
        font-size: 3rem;
    }

    #landing h2 {
        font-size: 2rem;
    }

    .about-sections {
       flex-direction: column;
    }

    .portfolio-row {
        flex-direction: column;
        gap: 25px;
    }

    .portfolio-item {
        width: 100%;
    }

    .port-image {
        max-width: 90%;
        height: auto;
    }
}

@media only screen and (max-width: 600px) {
    #contact-description {
        font-size: 0.9rem;
        padding-bottom: 5vh;
    }
}
