@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    font-weight: bold;
    color: #dbc99f;
    text-decoration: none;
  }

body {
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    background-color:#ffffff;
    color: #ecdfbf;
    overflow: scroll;
    --primary-dark: #021f1d;
    --primary-light: #0A3F37;
    --secondary: #d8c69a;
    --accent: #30c7a6;
    --dark-gold: linear-gradient(
        #8a6b2d,
        #FCF6BA,
        #725619,
        #FBF5B7,
        #9c6d1c
        );
    --light-gold: linear-gradient(
        #ac9669,
        #FCF6BA,
        #ad9153,
        #FBF5B7,
        #997d4e
        );
}

.container {
    min-height: 100%;
    width: 100%;
}

.navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20rem;
    z-index: 99;
    gap: 1rem;
}

button {
    display: flex;
    padding: .25rem;
    background: var(--secondary);
    border-radius: 1rem;
    border: 2px solid rgb(51, 41, 10);
    filter:
    drop-shadow(1px 1px 1px rgb(22, 18, 4));
}

.button-wrap {
    font-size: 1.5rem;
    font-weight: bold;
    width: 175px;
    padding: 0.5rem;
    color: inherit;
    border-radius: 0.5rem;
    background-color: var(--primary-dark);
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    align-items: center;
    border: 2px solid rgb(51, 41, 10);
}

.button-wrap:hover {
    background-color: var(--primary-light);
}

button:active {
    transform: scale(0.98);

}

.button-text {
    background: linear-gradient(
        -225deg,
        white 0%,
        #ecdfbf, 29%,
        #dbc99f 67%,
        #f1ebe5 100%
        );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter:
    drop-shadow(1px 1px 1px rgb(22, 18, 4));
    transition: transform .2s;
}

.landing-wrapper {
    background: linear-gradient(black, transparent, black), url("images/floral.jpg") no-repeat center;
    background-position: center;
    background-size: cover;
    z-index: 2;
    height: 100vh;
}

.landing-text-wrapper {
    position: absolute;
    top: 35%;
    right: 25%;
    line-height: 1.2;
    color: inherit;
    text-align: right;
    font-size: 3rem;
    color: #f1ebe5;
    background-image: linear-gradient(
        -225deg,
        white 0%,
        #ecdfbf, 29%,
        #d8c69a 67%,
        #f1ebe5 100%
        );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    z-index: 4;
    filter:
        drop-shadow(1px 1px 0 rgb(51, 41, 10))
        drop-shadow(-1px -1px 0 rgb(51, 41, 10))
        drop-shadow(1px -1px 0 rgb(51, 41, 10))
        drop-shadow(-1px 1px 0 rgb(51, 41, 10));
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

#landing h2 {
    font-size: 3rem;
}


.fa-brands {
    font-size: 25px;
    color: white;
    cursor: pointer;
}

.light-wrapper {
    position: relative;
    min-height: 100vh;
    width: 100%;
    color: black;
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/transparent-square-tiles.png");
}

.dark-wrapper .section-title {
}

.dark-wrapper {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: #0a3f37;
    background-image: url("https://www.transparenttextures.com/patterns/transparent-square-tiles.png");
}

.content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20rem;
    padding: 3rem;
    left: 20rem;
    width: 80%;
}

.section-title {
    background-image: var(--dark-gold);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 4.5rem;
    width: 100%;
    filter:
        drop-shadow(1px 1px 0 rgb(51, 41, 10, 0.5))
        drop-shadow(-1px -1px 0 rgb(51, 41, 10, 0.5))
        drop-shadow(1px -1px 0 rgb(51, 41, 10, 0.5))
        drop-shadow(-1px 1px 0 rgb(51, 41, 10, 0.5));
}

.section-title::before {
	content: '─';
	margin-right: 0.6em;
}

.section-title::after {
	content: '─';
	margin-left: 0.6em;
}

.section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75%;
    gap: 2.5rem;
}

.sub-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin: auto;
}

h3 {
    font-size: 1.5rem;
}

.about-sections {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.vine-decoration {
    width: auto;
    height: 30vh;
}

#vine-left {
    transform:rotate(90deg) scaleX(-1);

}

#vine-right {
    transform:rotate(-90deg)
}

.skill-div {
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
    font-style: italic;
}

li {
    text-align: right;
    padding-left: 1.5rem;
}

.portfolio-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30rem;
    padding: 2rem;
}

.item-name {
    color: white;
    margin-top: 2rem;
    text-align: center;
}

.port-image {
    width: 90%;
    margin: auto;
    border: 1px solid black;
    border-width: 0.5rem;
    border-style: solid;
    border-image: var(--light-gold) 1;
}

.link-div {
}

.link-div:hover {
    transform: scale(1.04);
}


.portfolio-links {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    border-top: 2px solid #021f1d;
    border-bottom:2px solid #021f1d;
}

#contact {
    padding-bottom: 0;
}

#contact-description {
    width: 70%;
    color: var(--primary-dark);
    padding-bottom: 10vh;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-bottom: 5rem;
}

.form-box {
    margin-bottom: 5vh;
    flex-grow: 1;
}

.contact-form input {
    width: 100%;
    height: 50px;
    font-size: 1.25rem;
    border: none;
    border-bottom: thick double var(--primary-dark);
    padding: 0.5rem;
  }

.contact-form textarea {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    width: 100%;
    height: 100px;
    padding: 0.5rem;
    border: none;
    border-bottom: thick double var(--primary-dark);
}

label {
    margin-right: 20px;
    font-style: italic;
    opacity: 50%;
  }

.form-row {
    display: flex;
    width: 100%;
    gap: 20px;
}

.form-top-item {
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 20px;
}

.form-bottom-item {
    width: 100%;
}

.submit-button {
    color: var(--secondary);
    margin: auto;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    height: 2rem;
    width: 100%;
    padding-right: 2rem;
    text-align: right;
    color: var(--secondary);
    border-top: 2px solid var(--secondary);
    background-color: var(--primary-dark);
}

@media only screen and ((max-width: 600px) or (orientation: portrait)) {
    .navbar {
        position: sticky;
        flex-direction: row;
        top: 0px;
        width: 100%;
        padding: 0.5rem;
        background-color: var(--primary-dark);
        border-bottom-width: 0.25rem;
        border-bottom-style: solid;
        border-image: linear-gradient(
            -225deg,
            white 0%,
            #ecdfbf, 29%,
            #97824b 67%,
            #f1ebe5 100%
            ) 1;
    }

    .nav-button {
        width: 5.5rem;
        filter: none;
    }

    .button-wrap {
        display: flex;
        justify-content: center;
        width: 5rem;
        font-size: 1rem;
        padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    }

    .anchor {
        position: absolute;
        top: -3rem;
        left: 0
    }

    .content-wrapper {
        width: 100%;
        left: 0px;
    }

    .landing-text-wrapper {
        width: 90%;
        right: 10%;
    }

    #landing h1 {
        font-size: 3rem;
    }

    #landing h2 {
        font-size: 2rem;
    }

    .about-sections {
       flex-direction: column;
       width: 100%;
    }

    .sub-section {
        flex-direction: column;
    }

    .portfolio-row {
        flex-direction: column;
        gap: 25px;
    }

    .portfolio-item {
        width: 100%;
    }

    .port-image {
        max-width: 90%;
        height: auto;
    }
}

@media only screen and (max-width: 450px) {
    .navbar {
        justify-content: space-evenly;
    }

    .content-wrapper {
        padding: 2rem 0 2rem;
    }

    .section-title {
        padding-bottom: 2.5rem;
        font-size: 2rem;
    }

    .about-sections {
        width: 90%;
    }

    #contact-description {
        width: 80%;
        font-size: 0.9rem;
        padding-bottom: 5vh;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        width: 80%;
        padding-bottom: 5rem;
    }
}

@media only screen and ((min-width: 400px) and (orientation: portrait)) {
    .navbar {
        justify-content: flex-end;
        padding: 0.5rem;
    }
}

@media only screen and (max-width: 300px) {
    .nav-button {
        width: 5rem;
    }
}
